[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = http://github.com/rson/vim-conque.git
[submodule "bundle/bundle/gundo"]
	path = bundle/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/dante_colorscheme"]
	path = bundle/dante_colorscheme
	url = http://github.com/vim-scripts/dante.vim.git
